  <footer class="page-footer light-blue lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Dev Bio</h5>
        <p class="grey-text text-lighten-4">My name is Darrell Pawson and I have been developing for a few years now.  I currently work in Pest Control and I decided to create a web app that lets you manage your customers.  Now I am creating this to keep up with pay!</p>


      </div>
      
      <div class="col l6 s12 center">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="https://cportal.online">
            <i class="material-icons tiny">contacts</i> CPortal</a>
          </li>
          <li><a class="white-text" href="https://github.com/dpawson905">
          <i class="fab fa-github-square"></i> Github</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="white-text text-lighten-3" href="https://github.com/dpawson905">Darrell Pawson</a>
    </div>
  </div>
  </footer>  
  <script src="/javascripts/materialize.min.js"></script>
  <script src="/javascripts/init.js"></script>
  </body>
</html>