<div class="container">
  <div class="row">
    <div class="col s6 offset-s3">
      <% if(error && error.length > 0){ %>
        <script>
          $(function(){
            M.toast({html: '<%= error %>', classes: 'red'}, 6000)
          })
        </script>
      <% } %>
      <% if(success && success.length > 0){ %>
        <script>
          $(function() {
            M.toast({html: '<%= success %>', classes: 'green'}, 6000)
          })
        </script>
      <% } %>
    </div>
  </div>
</div>