header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.nav-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.v1:nth-child(odd) {
  border-right: 3px solid black;
  height: 100%;
}

.mb1 {
  margin-bottom: 2rem;
}

.mb-small {
  margin-bottom: .75rem;
}